Source: libpod-thread-perl
Section: perl
Priority: extra
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl
Maintainer: Russ Allbery <rra@debian.org>
Standards-Version: 3.7.3
Homepage: http://www.eyrie.org/~eagle/software/web/

Package: libpod-thread-perl
Architecture: all
Depends: ${perl:Depends}
Description: Perl module to convert POD to thread
 Converts documentation in POD format to thread, a macro language used to
 generate HTML.  This module and the pod2thread program provided by this
 package are used by spin to handle formatting of POD documentation.
