Source: libpod-thread-perl
Section: perl
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 libdevel-cover-perl,
 libmodule-build-perl,
 libperl6-slurp-perl,
 libtest-minimumversion-perl,
 libtest-pod-perl,
 libtest-strict-perl,
 libtest-synopsis-perl,
 perl,
Rules-Requires-Root: no
Maintainer: Russ Allbery <rra@debian.org>
Bugs: mailto:rra@debian.org
Standards-Version: 4.5.1
Homepage: https://www.eyrie.org/~eagle/software/pod-thread/
Vcs-Git: https://salsa.debian.org/rra/libpod-thread-perl.git
Vcs-Browser: https://salsa.debian.org/rra/libpod-thread-perl

Package: libpod-thread-perl
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${perl:Depends},
Description: Perl module to convert POD to thread
 Converts documentation in POD format to thread, a macro language used to
 generate HTML.  This module and the pod2thread program provided by this
 package are used by spin to handle formatting of POD documentation.
