Source: libpod-thread-perl
Section: perl
Priority: extra
Build-Depends: debhelper (>= 9), perl
Maintainer: Russ Allbery <rra@debian.org>
Bugs: mailto:rra@debian.org
Standards-Version: 3.8.0
Homepage: http://www.eyrie.org/~eagle/software/web/
Vcs-Git: git://git.eyrie.org/web/pod-thread.git
Vcs-Browser: http://git.eyrie.org/?p=web/pod-thread.git

Package: libpod-thread-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Perl module to convert POD to thread
 Converts documentation in POD format to thread, a macro language used to
 generate HTML.  This module and the pod2thread program provided by this
 package are used by spin to handle formatting of POD documentation.
